[profile.default]
src = 'src'
out = 'out'
libs = ['lib']
optimizer_runs = 1000000
verbosity = 1

[profile.ci]
fuzz_runs = 100_000
verbosity = 4

[rpc_endpoints]
mainnet = "${RPC_URL_MAINNET}"
goerli = "${RPC_URL_GOERLI}"
hyperspace = "${RPC_URL_HYPERSPACE}"

[etherscan]
mainnet = {key = "${ETHERSCAN_KEY}"}
goerli = {key = "${ETHERSCAN_KEY}", url = "https://api-goerli.etherscan.io/api"}

# See more config options https://github.com/foundry-rs/foundry/tree/master/config